#header{
    .container{
        .headers{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: white;
            nav{
                width: 40%;
                ul{
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    li{
                        a{
                            text-decoration: none;
                            font-family: 'Ubuntu', sans-serif;
                            color: black;
                            font-size: 14px;
                            &.active{
                                color: blue;
                            }
                        }
                    }
                }
            }
            .btn{
                .header-btn{
                    width: 130px;
                    height: 40px;
                    border: none;
                    background-color: #698cf0;
                    color: #fff;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 14px;
                    border-radius: 5px;
                    transition: all 0.5s;
                    &:hover{
                        cursor: pointer;
                        background-color: black;
                    }
                }
            }
        }
    }
}